{% extends 'base.html' %}

{% block content %}

<body>
    <div id="box">
        <div class="box-header">
            <br>
            <h1>Your pick</h1>
        </div>
        
        <div class="box-body">
            <div class="selector">
                <p>안녕하세요 {{ product.name }}님.</p>
                <p>좋아하는 영화장르와 영화를 입력해주세요.</p>
                <form action="{% url 'products:interesting' %}" method="POST">
                                    <!-- namespace -->
                    {% csrf_token %}
                    <input type="hidden" value="{{ product.pk }}" name="pk">
                    <!--이런식으로 pk를 날려주면 이걸로 interesting 에서 해당 객체를 찾아서 계속 쓸 수 있는거임
                        views 로 오삼-->
                    <label>장르 입력:</label><input type="text" name="genre"/><br><br>
                    <label>영화 입력:</label><input type="text" name="movie"/><br><br>
                    <label>한 줄평:</label><textarea name="description"></textarea><br><br>
                    <input type="submit" value="Next"/>
                </form>
                <br>
                <a href="https://www.instagram.com/b_jungsoo1123" class="btn">Exit</a>
            </div>
        </div>
    </div>
</body>

{% endblock %}